<div class="babybackgorund">
  <div class="container">
    <div class="d-flex justify-content-center homepage_box align-items-center">
      <div class="homepage_background_color p-3">   
        <%= image_tag("monicare.png", class: "homepageimg") %> 
        <div class="homepage-text p-2">
          <p>身為家長的你，把自家小孩交給托嬰中心或幼兒園後，你真的知道孩子發生了什麼事情嗎？</p>
          <p>有了monicare，讓你一手掌握你家寶貝的最新動態！</p>
          <div class="d-flex justify-content-around">
            <%= link_to '我是家長', new_user_session_path, class: 'btn btn-lg parent-sign-in-button' %>
            <%= link_to '我是老師', new_teacher_session_path, class: 'btn btn-lg teacher-sign-in-button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
