<div class="wrap">
  <div class="container">
    <h1 class="text-center text-warning">Monicare</h1>
    <%= link_to '我是老師', new_teacher_session_path, class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to '我是家長', new_user_session_path, class: 'btn btn-secondary btn-lg btn-block' %>
  </div>
</div>