<div class="container text-center">
  <h3 class="function-subtitle font-weight-bold mb-3">吃飯紀錄</h3>
  <table class="table">
    <tbody>
      <% dashboards.order(finished_at: :desc).eat.each do |dashboard| %>
        <tr>
          <td><%= dashboard.title %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
          <td><%= link_to '詳情', dashboard_child_eat_path(child_id: params[:id], id: dashboard.id), class: 'btn more-button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
