<table class="table">
  <thead>
    <tr>
      <th scope="col">照片</th>
      <th scope="col">學生</th>
      <th scope="col">行程列表</th>
      <th scope="col">功能編輯</th>
    </tr>
  </thead>
  <tbody class="student_list">
    <% students.each do |student| %>
      <tr>
        <td><%= cover_child_pic_image_tag student %></td>
        <td><%= student.name %></td>
        <td><%= link_to '列表', teacher_dashboard_child_overview_path(student), class: 'btn more-button' %></td>
        <td><%= link_to '功能', teacher_dashboard_child_path(student), class: 'btn function-button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
