@import 'bootstrap';

.pick_up_pic {
  img {
    width: 300px;
  }
}
.babybackgorund{
  background-image: url(/assets/babycare.jpg);
  background-size: cover;

}
.homepagebox{
  height: 100vh;
}

.homepageimg{
  width:500px;
}
.homepagepgc{
  background-color: rgba(255, 185, 176, 0.3);
}
.meal_pic {
  img {
    width: 300px;
  }
}

.misc_pic {
  img {
    width: 300px;
  }
}

.card-img-top.child_pic {
  height: 253px;
}

.card-img-top.avatar-relative {
  height: 333px;
}

.signature-pad-wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}

.child_pic {
  img {
    width: 100%;
  }
}

.child_pic_url {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-file-label::after {
  content: "瀏覽";
}

td {
  #preview_child_pic {
    height: 100px;
    width: 100px;
  }
}
