
    <%= render 'shared/backend/navbar' %>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">照片</th>
      <th scope="col">學生</th>
      <th scope="col">詳情</th>
    </tr>
  </thead>
  <tbody>
    <% @student.each do |student| %>
      <tr>
          <td>圖</td>
          <td><%= student.name %></td>
          <td><%= link_to '詳情', student_teacher_path(student) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>

<p class="notice"><%= notice %></p>