<div class="container text-center">
<h2 class="text-white">用藥明細</h2>
<table class="table">
  <tbody class="text-white">
    <% dashboards.order(started_at: :desc).medicine.each do |dashboard| %>
      <tr>
          <td><%= dashboard.title %></td>
          <td><%= dashboard.started_at.to_date %></td>
          <td><%= link_to '編輯給藥者', edit_teacher_dashboard_child_medicine_path(child_id: params[:id],id: dashboard.id), class:'btn btn-danger' %></td>
          <td><%= link_to '詳情', teacher_dashboard_child_medicine_path(child_id: params[:id],id: dashboard.id), class:'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>